<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="exitChat()" text="Exit {{ roomname }} Room" defaultHref="/tabs/(events:event-list)"></ion-back-button>
    </ion-buttons>
    <ion-title>{{($eventItem | async)?.name}}</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button style="font-size: 12px;" (click)="exitChat()" icon-end><span style="padding-right: 5px;">Exit Chat</span>
        <ion-icon name="exit"></ion-icon>
      </ion-button>
      <ion-button (click)="moreItems()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" class="ion-text-center" *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user === username">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p class="ion-text-wrap">{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" class="ion-text-left" *ngIf="chat.user !== username">
          <div class="left-bubble">
            <span class="msg-name">{{chat.user}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p class="ion-text-wrap">{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->

<ion-content #IonContent fullscreen="false" class="ion-no-padding no-padding" style="background: url(assets/imgs/chat-back.png) fixed;">
  <ion-list>
    <div *ngFor="let chat of chats; let i = index;">
      
      <ion-row *ngIf="chat.type === 'join' && chat.user === username">
        <p class="notification">
          <span class="notification-text">You joined <span class="time">{{chat.sendDate | date:'shortTime'}}</span></span>
        </p>
      </ion-row>
      <ion-row *ngIf="chat.type === 'join' && chat.user !== username">
          <p class="notification">
            <span class="notification-text">{{chat.user}} has joined <span class="time">{{chat.sendDate | date:'shortTime'}}</span></span>
          </p>
        </ion-row>
      <ion-row *ngIf="chat.type === 'exit' && chat.user !== username">
          <p class="notification">
            <span class="notification-text">
              {{chat.user}} has left <span class="time">{{chat.sendDate | date:'shortTime'}}

              </span></span>
          </p>
        </ion-row>
        <ion-row [ngClass]="chat.user === username ? 'display display-right':'display display-left'" *ngIf="chat.type === 'message'">
            <span [ngClass]="chat.user === username ? 'innermsg right':'innermsg left'">
              <span *ngIf="chat.user !== username" class="chat-user">{{chat.user}}</span>
              {{ chat.message }}
              <span class="time">{{chat.sendDate | date:'shortTime'}}</span>
            </span>
        </ion-row>
      
      <ion-row *ngIf="((chats[i+1] && chats[i+1].user != chat.user) || !chats[i+1])">
      <!-- <ion-row> -->
        <ion-col>
          <!-- <span><ion-text>{{chat.user}}</ion-text></span> @ <span><ion-text>{{chat.sendDate | date:'short'}}</ion-text></span> -->
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=" sendMessage()" [disabled]="isEnabled === false">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-row *ngIf="loader">
    <ion-col class="loading-col ion-no-padding">
      <div class="imageAvatarRight">
        <div class="imageAvatarBottomLoader">
          <ion-avatar class="avatar">
            <div class="imageAvatarBottomIcon">
              <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
            </div>
            <ion-img src="assets/imgs/chat-you.png"></ion-img>
          </ion-avatar>
        </div>
        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>
            <ion-img src="assets/imgs/loader.gif"></ion-img>
            <!-- <p class="ion-padding ion-text-wrap"> {{paramData.name || 'Pam'}} is typing...</p> -->
            <div class="corner-parent-right">
              <div class="corner-child-right">

              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer color="light">
  <ion-item color="light">
    <!-- <ion-icon slot="start" name="chatboxes" expand="icon-only" class="footerIcon"></ion-icon> -->
    <ion-input color="light" style="color:rgb(33, 34, 36) !important;" class="input-box" type="text" name="message" placeholder="Write a message..." [(ngModel)]="data.message" (ionInput)="userTyping($event)" (keyup.enter)="sendMessage()"></ion-input>
    <ion-icon slot="end" name="paper-plane" (click)="sendMessage()"></ion-icon>
  </ion-item>
</ion-footer>