<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Register" defaultHref="/tabs/(events:event-list)"></ion-back-button>
    </ion-buttons>
    <ion-title>{{($eventItem | async)?.name}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Please, Sign In</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" name="username" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item lines="none" lines="full" class="ion-padding-top">
          <ion-button expand="block" size="large" shape="round" color="primary" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
        </ion-item>
        <!-- <ion-item lines="none">
          <ion-button expand="block" size="default" shape="round" color="secondary" type="button" (click)="register()">Register</ion-button>
        </ion-item> -->
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>