.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
  
.sc-ion-card-pwa-h,
.sc-ion-card-md-h,
.sc-ion-card-ios-h {
  display: unset;
}

.sc-ion-card-pwa-s img,
.sc-ion-card-md-s img,
.sc-ion-card-ios-s img {
  margin-top: -18px;
}

.list-pwa,
.list-md,
.list-ios {
  margin-top: -20px;
  padding-top: 0;
}

.sc-ion-card-md-h {
  --background: var(--ion-item-background,transparent);
  --color: var(--ion-color-step-550,#737373);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 0px;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hover-item {
  background-color: #F5F5F5;
  cursor: pointer;
}